.appHeader {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #131A28;
  color: white;
  justify-content: center;
  align-items: center;
}
.button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}
.headingText {
  color: white;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
}

.fc-aqua {
  color: #1CDBF5;
}

.fc-white {
  color: white;
}

.fw-600 {
  font-weight: bolder;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jcCenter {
  justify-content: center;
}

.borderCell {
  border-right : 15px solid #fafafa;
  border-bottom: 15px solid #fafafa;
}

.bBottomRight {
  border-right: 15px solid #fafafa;
  border-bottom: 15px solid #fafafa;
}

.bBottom {
  border-bottom: 15px solid #fafafa;
}

.bRight {
  border-right: 15px solid #fafafa;
}

.clearButton {
  width: max-content;
  margin: 40px auto 10px auto;
}

@media only screen and (max-width: 600px) {
  .heading-text {
      color: white;
      font-size: 30px;
      font-weight: bolder;
      text-align: center;
      margin: 60px 10px;
  }

  .square {
      min-width: 80px;
      min-height: 80px;
      font-size: 32px;
      font-weight: bolder;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .b-bottom-right {
      border-right: 10px solid #1CDBF5;
      border-bottom: 10px solid #1CDBF5;
  }

  .b-bottom {
      border-bottom: 10px solid #1CDBF5;
  }

  .b-right {
      border-right: 10px solid #1CDBF5;
  }

  .clear-button {
      width: max-content;
      margin: 40px auto 10px auto;
  }
}
