.board {
  size: 15px;
}

.headingText {
  color: white;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin: 25px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jcCenter {
  justify-content: center;
}

.bBottomRight {
  border-right: 15px solid #fafafa;
  border-bottom: 15px solid #fafafa;
}

.bBottom {
  border-bottom: 15px solid #fafafa;
}

.bRight {
  border-right: 15px solid #fafafa;
}
